.about {
  background-color: #c5d8c8ab;
  .photo-header {
    background: url(/images/summer6.jpg) center/cover;
    height: 400px;
  }

  .subtitle::after {
    content: "";
    background: #d8709f;
    display: block;
    height: 0.2em;
    width: 6em;
    margin: 2em 0;
  }
}
