@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

$primary: #2a8682;
$secondary: #004f93;
$success: #198754;
$danger: #dc3545;
$dark: #111439;
$warning: #ffc107;
$light: #fff;
$info: #d3eae8;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "dark": $dark,
  "warning": $warning,
  "light": $light,
  "info": $info,
);

@import "../node_modules/bootstrap/scss/bootstrap";
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.52rem;
}

h1,
h2 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    255deg,
    #99eaef 0%,
    #14acce 35%,
    #a560b7 60%,
    #e67599 70%
  );
}
