.contact {
  background-color: #90ccdb;
  padding-top: 10rem;

  .contact-content {
    background-color: white;
    padding: 5rem;
  }

  .contact-form {
    background-color: #ffffff;
    margin: 10rem auto;
    height: 600px;
  }
}
