.faq {
  background-color: #c5d8c8;
  padding-top: 10rem;

  .question-section {
    margin: 4rem auto;
  }

  .faq-content {
    background-color: #ffffff;
    padding: 5rem;
  }

  .faq-1 {
    background-color: #c5d8c8;
  }
}
