.register {
  background-color: #b9e5ff;

  .photo-header {
    background: url(../../public/images/emmaus5.jpg) center/cover;
    height: 400px;
  }

  .register-content {
    background-color: #ffffff;
    margin-top: -150px;
    padding: 5rem;
  }
}
